.container {
  max-width: calc(1400px + (var(--container-padding-y) * 2));
  width: 100%;
  padding-inline: var(--container-padding-y);
  margin-inline: auto;
  position: relative;

  @include desktop {
    --container-padding-y: 12px;
    max-width: calc(1240px + (var(--container-padding-y) * 2));
  }

  @include desktop-bottom {
    --container-padding-y: 32px;
    max-width: calc(1080px + (var(--container-padding-y) * 2));
  }

  @include tablet {
    --container-padding-y: 24px;
    max-width: calc(824px + (var(--container-padding-y) * 2));
  }

  @include tablet-bottom {
    max-width: calc(640px + (var(--container-padding-y) * 2));
  }

  @include mobile {
    --container-padding-y: 18px;
    width: 100%;
  }
}

.container-mini {
  max-width: calc(1232px + (var(--container-padding-y) * 2));
  width: 100%;
  padding-inline: var(--container-padding-y);
  margin-inline: auto;
  position: relative;


  @include desktop {
    --container-padding-y: 12px;
    max-width: calc(1072px + (var(--container-padding-y) * 2));
  }

  @include desktop-bottom {
    --container-padding-y: 32px;
    max-width: calc(912px + (var(--container-padding-y) * 2));
  }

  @include tablet {
    --container-padding-y: 24px;
    max-width: calc(660px + (var(--container-padding-y) * 2));
  }

  @include tablet-bottom {
    max-width: calc(545px + (var(--container-padding-y) * 2));
  }

  @include mobile {
    --container-padding-y: 36px;
    width: 100%;
  }
}

.btn-popup {
  padding: 13px 24px;
  border: 1px solid var(--red);
  background-color: var(--red);
  border-radius: var(--br-btn);
  color: var(--white);
  font-size: 20px;
  font-weight: 600;
  box-shadow:
    0 4px 4px rgba($color: #000000, $alpha: 0.25),
    inset 0 5px 15px rgba($color: #000000, $alpha: 0.25);

    @include desktop-bottom {
      font-size: 16px;
      padding: 11px 16px;
    }

    @include tablet {
      font-size: 12px;
      padding: 7px 10px;
    }

    @include hover {
      background-color: var(--white);
      border: 1px solid var(--white);
      color: var(--dark);
      cursor: pointer;
    }

    
}

.title {
  margin-bottom: 36px;
  font-size: 40px;
  font-weight: 700;

  @include desktop {
    font-size: 36px;
  }

  @include tablet {
    font-size: 24px;
  }

  @include tablet-bottom {
    font-size: 20px;
  }
}

.card-text {
  font-size: 20px;

  @include desktop {
    font-size: 16px;
  }

  @include desktop-bottom {
    font-size: 12px;
  }

  @include tablet-bottom {
    font-size: 10px;
  }
}