.cards {

  &__filters {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }
}

.filters {
  padding: 24px 20px;
  background-color: var(--light-gray);
  border-radius: var(--br-card);

  &__wrapper {

  }

  &__options {
    padding: 5px;
    background-color: var(--white);
    margin-bottom: 10px;
    border-radius: 14px;
  }

  &__options-btn {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__btn {
    flex-grow: 1;
    background-color: #F0F0F0;
    color: #8A8A8A;
    border: none;
    border-radius: 12px;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;

    &.active {
      background-color: var(--red);
      color: var(--white);
      box-shadow:
        0 4px 4px rgba($color: #000000, $alpha: 0.25),
        inset 0 5px 15px rgba($color: #000000, $alpha: 0.25);

    }
  }

  &__options-range {
    padding: 9px 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    label {
      font-size: 16px;
      font-weight: 600;
      color: #8A8A8A;
    }

    input[type=range] {
      width: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    input[type=range]::-webkit-slider-runnable-track {
      border-radius: 6px;
      height: 4px;
      border: none;
      background-color: #8A8A8A;
    }

    input[type=range]::-webkit-slider-thumb {
      background: var(--red);
      border: none;
      border-radius: 50%;
      cursor: pointer;
      width: 19px;
      height: 19px;
      -webkit-appearance: none;
      margin-top: -8px;
    }

    input[type=range]::-moz-range-track {
      border-radius: 6px;
      height: 4px;
      border: none;
      background-color: #8A8A8A;
    }

    input[type=range]::-moz-range-thumb {
      width: 19px;
      height: 19px;
      background: var(--red);
      border: none;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 600;
    color: #8A8A8A;
    margin-bottom: 8px;
  }

  &__brands {
    transition: 0.5s;

    &.open {
      transition: 0.5s;

      .select-arrow {
        transform: rotate(180deg);
        transition: 0.3s;
      }

     & + .filters__brand-list {
        max-height: 140px;
        visibility: visible;
        opacity: 1;
        transition: 0.5s;
      }
    }
  }

  &__current-brand {
    padding: 11px;
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
    color: var(--red);
    font-weight: 600;
    cursor: pointer;

    .select-arrow {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s;

      svg {
        width: 10px;
        height: 13px;
      }
    }
  }

  &__brand-list {
    max-height: 0;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    scrollbar-width: auto;
    scrollbar-color: var(--red) #8A8A8A;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;

    &::-webkit-scrollbar {
      width: 8px;
      height: 100%;

      border-radius: 26px;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--red);
      border-radius: 26px;
      // height: 10%;
    }

    &::-webkit-scrollbar-track {
      background-color: #8A8A8A;
      border: transparent;
      border-radius: 26px;
    }

    &::-webkit-scrollbar-button {
      display: none;
    }

    &::-moz-scrollbar-button {
      display: none;
    }
  }

  &__brand-item {
    padding: 11px 20px;
    color: #8A8A8A;
    font-weight: 600;
    cursor: pointer;

    &.select {
      background-color: #F0F0F0;
      color: rgba(76, 76, 76, 0.8);
    }
  }

  &__label-year {
    width: 100%;
    background-color: #F0F0F0;
    padding: 12px;
    border-radius: 12px;
  }

  &__year {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 16px;
    font-weight: 600;

    span {
      color: #8A8A8A;
    }

    input {
      max-width: 44px;
      background-color: #F0F0F0;
      border: none;
      color: var(--gray-80);

      &::placeholder {
        color: #8A8A8A;
      }

    }
  }

  &__buttons {
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
  }

  &__btn-submit,
  &__btn-reset {
    flex-grow: 1;
    border: none;
    border-radius: var(--br-btn);
    background-color: var(--red);
    padding: 13px;
    color: var(--white);
    box-shadow:
      0 4px 4px rgba($color: #000000, $alpha: 0.25),
      inset 0 5px 15px rgba($color: #000000, $alpha: 0.25);
    transition: 0.5s;

    @include hover {
      background-color: var(--white);
      color: var(--dark);
      cursor: pointer;
      transition: 0.5s;
    }
  }

  &__btn-reset {}
}

.active {}