.cards {

  &__filters {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }
}

.filters {
  padding: 24px 20px;
  background-color: var(--light-gray);
  border-radius: var(--br-card);

  @include desktop-bottom {
    padding: 14px;
  }

  @include tablet {
    padding: 8px;
  }

  &__wrapper {

    @include tablet {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "opt1 opt2"
        "opt3 opt4"
        "opt5 opt5";
      gap: 8px;


      .filters__wrapper-title.brand-list {
        width: 100%;
      }

    }

    @include mobile {
      display: flex;
      flex-direction: column;
    }
  }

  &__wrapper-title {


    @include tablet {
      &.brand-list {
        grid-area: opt5;
        order: 2;

        .filters__options {
          max-width: 100%;
        }
      }

      &.year-blocks {
        background-color: var(--white);
        padding: 4px 5px;
        border-radius: 10px;

        .filters__title {
          margin-bottom: 0;
        }
      }
    }

  }

  &__options {
    padding: 5px;
    background-color: var(--white);
    margin-bottom: 10px;
    border-radius: 14px;

    @include tablet {
      margin-bottom: 0;
    }
  }

  &__options-btn {
    display: flex;
    align-items: center;
    gap: 5px;


    @include tablet {
      width: 100%;
    }
  }

  &__btn {
    flex-grow: 1;
    background-color: #F0F0F0;
    color: #8A8A8A;
    border: none;
    border-radius: 12px;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;

    @include desktop-bottom {
      font-size: 12px;
    }

    @include tablet {
      font-size: 10px;
    }

    &.active {
      background-color: var(--red);
      color: var(--white);
      box-shadow:
        0 4px 4px rgba($color: #000000, $alpha: 0.25),
        inset 0 5px 15px rgba($color: #000000, $alpha: 0.25);
    }
  }

  &__options-range {
    padding: 4px 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;


    @include tablet {
      grid-area: opt3;
      width: 100%;
      gap: 0;
      padding: 4px 8px;
    }

    label {
      font-size: 16px;
      font-weight: 600;
      color: #8A8A8A;
      position: relative;

      @include desktop-bottom {
        font-size: 12px;
      }
    }

    input[type=range] {
      margin-top: 16px;
      width: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    input[type=range]::-webkit-slider-runnable-track {
      border-radius: 10px/100%;
      height: 4px;
      border: none;
    }

    input[type=range]::-webkit-slider-thumb {
      background: var(--red);
      border: none;
      border-radius: 50%;
      cursor: pointer;
      width: 19px;
      height: 19px;
      -webkit-appearance: none;
      margin-top: -8px;
    }

    input[type=range]::-moz-range-track {
      border-radius: 10px/100%;

      height: 4px;
      border: none;
      // background-color: #8A8A8A;
    }

    input[type=range]::-moz-range-thumb {
      width: 19px;
      height: 19px;
      background: var(--red);
      border: none;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  &__price-output {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;

    p {
      margin-bottom: 0;
    }

    span {
      font-size: 16px;
      font-weight: 600;
      color: #8A8A8A;

      @include desktop-bottom {
        font-size: 12px;
      }
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 600;
    color: #8A8A8A;
    margin-bottom: 8px;

    @include desktop-bottom {
      font-size: 12px;
    }
  }

  &__brands {
    transition: 0.5s;

    &.open {
      transition: 0.5s;

      .select-arrow {
        transform: rotate(180deg);
        transition: 0.3s;
      }

      &+.filters__brand-list {
        max-height: 130px;
        padding-right: 8px;
        visibility: visible;
        opacity: 1;
        transition: 0.5s;

        @include tablet {
          max-height: 102px;
        }
      }
    }
  }

  &__current-brand {
    padding: 8px;
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
    color: var(--red);
    font-weight: 600;
    cursor: pointer;

    @include desktop-bottom {
      font-size: 12px;
    }

    .select-arrow {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s;

      svg {
        width: 10px;
        height: 13px;
      }
    }
  }

  &__brand-list {
    max-height: 0;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    scrollbar-width: thin;
    scrollbar-color: var(--red) #8A8A8A;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;

    @include desktop-bottom {
      font-size: 12px;
    }

    &::-webkit-scrollbar {
      width: 8px;
      height: 100%;

      border-radius: 26px;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--red);
      border-radius: 26px;
      // height: 10%;
    }

    &::-webkit-scrollbar-track {
      background-color: #8A8A8A;
      border: transparent;
      border-radius: 26px;
    }

    &::-webkit-scrollbar-button {
      display: none;
    }

    &::-moz-scrollbar-button {
      display: none;
    }
  }

  &__brand-item {
    padding: 11px 20px;
    color: #8A8A8A;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;

    @include hover {
      background-color: #F0F0F0;
      color: rgba(76, 76, 76, 0.8);
    }

    &.selected {
      background-color: #F0F0F0;
      color: rgba(76, 76, 76, 0.8);
    }

    @include desktop-bottom {
      font-size: 12px;
    }

    @include tablet {
      padding: 8px 14px;
    }
  }

  &__brand-list-selected {
    display: none;
    margin-block: 8px;
    // display: flex;
    flex-wrap: wrap;
    gap: 8px;

    &.visible {
      display: flex;
    }

    .selected-brand {
      width: fit-content;
      padding: 8px;
      background-color: var(--red);
      color: var(--white);
      font-size: 12px;
      font-weight: 600;
      border-radius: 34px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;

      &__del {
        border-radius: 50%;
        width: 12px;
        height: 12px;
        background-color: rgba(255, 255, 255, 0.4);
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        cursor: pointer;

        svg {
          width: 7px;
          height: 7px;
        }
      }
    }
  }

  &__label-year {
    width: 100%;
    background-color: #F0F0F0;
    padding: 12px;
    border-radius: 12px;
  }

  &__year {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 16px;
    font-weight: 600;

    @include desktop-bottom {
      font-size: 12px;
    }

    span {
      color: #8A8A8A;
    }

    input {
      max-width: 44px;
      background-color: #F0F0F0;
      border: none;
      color: var(--gray-80);

      &::placeholder {
        color: #8A8A8A;
      }

    }
  }

  &__buttons {
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
  }

  &__btn-submit,
  &__btn-reset {
    flex-grow: 1;
    border: none;
    border-radius: var(--br-btn);
    background-color: rgba(127, 127, 127, 0.2);
    padding: 13px;
    color: rgba(138, 138, 138, 1);
    cursor: not-allowed;
    transition: 0.5s;

    @include hover {
      background-color: var(--white);
      color: var(--dark);
      transition: 0.5s;
    }

    &.active {
      background-color: var(--red);
      color: var(--white);
      box-shadow:
        0 4px 4px rgba($color: #000000, $alpha: 0.25),
        inset 0 5px 15px rgba($color: #000000, $alpha: 0.25);
      cursor: pointer;
    }
  }

  &__btn-reset {}
}


.active {}

.noUi-target {
  margin-top: 12px;
  background-color: #8A8A8A;
  border: none;
  box-shadow: none;
}

.noUi-connect {
  background: var(--red);
}

.noUi-handle {
  width: 19px;
  height: 19px;
  background: var(--red);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: none;
}

.noUi-horizontal {
  height: 4px;
}

.noUi-horizontal .noUi-handle {
  width: 19px;
  height: 19px;
  top: -8px;
}

.noUi-handle.noUi-handle-upper {
  right: -8px;

}

.noUi-handle::after,
.noUi-handle::before {
  display: none;
}