.popup-form {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 111;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.7s;

  &.open {
    opacity: 1;
    visibility: visible;
    transition: 0.7s;

    .popup {
      transform: translateY(-3%);
      transition: 0.5s;
    }
  }

  .popup {
    max-width: 720px;
    margin-inline: 16px;
    padding-block: 50px;
    transform: translateY(0);
    transition: 0.5s;

    @include desktop-bottom {
      padding-block: 36px;
    }

    @include tablet {
      padding-block: 24px;
    }
  }

  .popup__title {
    text-align: center;
  }
}

.text-form-help {
  position: absolute;
  bottom: 8px;
  left: 0;
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;

  @include tablet-bottom {
    font-size: 8px;
    bottom: 4px;
  }
}