.privacy {
  color: var(--dark);
  background-color: #fff;
  padding-bottom: var(--section-offset);

  &__title {
    margin-bottom: 24px;

    @include tablet-bottom{
      margin-bottom: 12px;
    }
  }

  .subtitle {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 700;
  
    @include desktop {
      font-size: 20px;
    }
  
    @include tablet {
      font-size: 16px;
    }

  }
}

.breadcrumb {
  margin-bottom: 24px;
  padding-top: var(--section-offset);
  background-color: #fff;

  &__list {
    list-style: none;
    display: flex;
    gap: 28px;
  }

  &__item {
   font-size: 16px;
    color: var(--dark);

    @include tablet {
      font-size: 12px;
    }

    a {
      position: relative;

      &::after {
        content: "—";
        position: absolute;
        right: -20px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}